In [12]:
import pandas as pd
import requests
import json
import re

In [52]:
table = pd.DataFrame(columns=['gender','age','height','finalweight'])

In [2]:
data = pd.read_json("https://www.reddit.com/r/TheoryOfReddit/top.json")

In [3]:
headers = {'user-agent': 'osx:r/progresspics.top.result:v1.0 (by /u/OddaJosh)'}
r = requests.get("https://www.reddit.com/r/progresspics/top.json", headers=headers)

In [4]:
data = r.json()

In [5]:
data['data']['children'][0]['data']['title']

'F/40/1.72m [140kg &gt; 102.2kg = 37.8] (8 months) Face gains - first time I can really see it in a photo. (83 pounds lost)'

In [61]:
r = re.compile('(M|F)\/(\d+)\/(\d’?\'?\d\d?)')
for post in data['data']['children']:
    info = r.findall(post['data']['title'])
    if len(info) > 0:
        table = table.append({
         "gender": info[0][0],
         "age":  info[0][1],
         "height":  info[0][2]
          }, ignore_index=True)

In [44]:
#(M|F)\/(\d+)\/(\d’?'?\d)

In [45]:
#s.search('(M|F)\/(\d+)\/(\d’?\'?\d\)')

In [62]:
table

   gender age height
0       F  31    5'5
1       F  37    5’8
2       M  21    6'0
3       F  29    5'3
4       F  37    5'5
5       F  21    5'7
6       M  16    6'5
7       M  18    5'5
8       F  26    5’4
9       M  23    5'8
10      M  30    6'4
11      F  25    5’7
12      M  25    5’9
13      M  22    6'3
14      F  29    5’8
15      M  23   5'10
16      M  22    5'5
17      M  29   5’10

In [63]:
#(M|F)\/(\d+)\/(\d’?\'?\d\d?).+\[(\d+\.?\d?)\D*\D*\d+\.?\d?\D*(\d+\.?\d?)

21